<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Twitter Bootstrap</a>
    by Mansoor Elahi
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://g2evolution.co.in/"></a></li>
    </ul>
  </nav>
</footer>